*{
    font-family: 'Roboto Slab', serif;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(../img/fondo2.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}
h1{
    color: pink;
    font-weight: $textRegular;
    font-size: 3rem; 
}

p{
    color: rgb(40, 34, 34);
    font-weight: $textLigh;
    font-size: 1.6rem;
    line-height: 20px;  /* mas grande q el font size siempre */
}

.titulo{
    text-align:center;
    color:#e2b4b4;
    background-color: indianred;
}

$breakpoints: (
    sm : 360px,
    md : 768px,
    lg : 1024px
);

@mixin medias($breakpoint) {
    @media screen  and (min-width: map-get($breakpoints,$breakpoint)) {
        @content;  
    }  
}

.info__datos{
    font-size: 2rem;
    @include medias(sm){
        text-align: center;
        font-size: 1.6rem;
    }
    @include medias(lg){
        text-align: center;
        font-size: 2rem;
    }
}

.salto{
    opacity: 0;
    margin-bottom:9%;
}

.text-white{
    color:white;
}


.pie{  
    text-align: center;
    background-color: indianred;
    margin-top:10px ;
    
    
}
.pie__texto{
    background-color: pink;
    padding-top: 5px;
}

.pie__logo{
    padding: 4px;
    width:40px;
    height:40px;
    margin-top: 1px;
}




/*--------------------------TIENDA-------------*/
   #mainNav{
    grid-area: nav;
   }

   #contenedor_tienda{
    @include medias(sm){
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto ;
        grid-template-areas: 
        "nav"
        "header"
        "filtros"
        "productos"
        "pie";
    }
    @include medias(md){
        display: grid;
        grid-template-columns: 30% 70%; 
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav"
        "header header "
        "filtros productos"
        "pie pie";
    }
    @include medias(lg){
        display: grid;
        grid-template-columns: 20% 70% 10%; 
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav nav"
        "header header header"
        "filtros productos icons"
        "pie pie pie";
    }


   }
   #header_tienda{
    grid-area: header;
   }

   #filtros{
    grid-area: filtros;
   }

   #productos{
    grid-area: productos;
   }

   #aside{
    grid-area: icons;
    @include medias(sm){
        display:none;
    }
    @include medias(md){
        display:none;
    }
    @include medias(lg){
        display:inline;
    }
   }
   #footer{
    grid-area: pie;
   }



  

   
/*-----------INDEX----------------- */

#nav{
    grid-area: nav;
   }


   #contenedor_index{
    @include medias(sm){
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto ;
        grid-template-areas: 
        "nav"
        "header_index"
        "slides"
        "equipo"
        "info"
        "mapa"
        "pie"
        ;
   }
}
   #header_index{
    grid-area: header_index;
   }

   #slides{
    grid-area: slides;
   }

   #equipo{
    grid-area: equipo;
   }
   #equipo .equipo__fondo{
    @include medias(sm){
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    @include medias(lg){
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

    #equipo .equipo__fondo img{
        @include medias(sm){
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        }
    }


   #info{
    grid-area: info;
   }

   #mapa{
        grid-area: mapa;
        width:100%;
        height:390px;
   }

   #mapa2{
    width:100%;
    height:390px;
  
   }

   #pie{
    grid-area: pie;
   }



.turnos__contenedor{
    padding: 20px;
    display:flex;
    flex-direction:row;
    width: 97%;
    margin-bottom: 10px;
    align-content: center;
    margin-right: 5%;
    margin-top: 5px;
    justify-content: space-around;
}

.cabecera__contenedor{
    @extend .turnos__contenedor;
    background-color: #ffafe0;
    padding: 5px;
    width: 100%;
    height: 50px;
}


.servicios__contenedor{
    @extend .turnos__contenedor;
    background-color: indianred;
}

.servicios__caja{
    margin: 10px;
}


.cabecera__caja{
    font-family: $mainFont;
    font-weight:bold;
    width: 600px;
    height: 400px;
    line-height: 120px;
    text-align: center;
    margin: 5px;

    color: white;
    width: 100%;
    height: auto; 
}


.turnos__caja{
  
    background-color: pink;
}

#calendario{
    @include medias(sm){
        width:400px;
        height:200px;
    }
    @include medias(md){
        width:600px;
        height:300px;
    }
    @include medias(lg){
    width:800px;
    height:400px;
    }
   
}





