
.info__contenedor{
    background: pink;
    padding: 20px;
    display:flex;
    flex-direction:row;
    align-content: center;
}
.info__contenedor2{
    background: indianred;
    padding: 20px;
    display:flex;
    flex-direction:row;
    align-content: center;
}


.info__caja{
    background-color: pink; 
    padding: 20px;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
}

.info__caja2{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    width: 500px;
    height: 50px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}

.contacto__logo{
    padding: 2px;
    width:40px;
    height:40px;
    margin-left: 2%;
}

.info__datos2{
    font-size: 2rem;
    width:50%;
    height:40%;
    margin-left: 40%;
    margin-top: 3%;
}