//variables globales

// variables colores 
$mainColor:rgb(238,188,247);
$secondary:rgb(218, 132, 233);
$keyColor:deeppink;

//fontweight
$textRegular:400;
$textLigh:100;

//sizes
$textSm:1em;
$textMd:1.5em;
$textXl:2em;
$textXll:3em;

//width
$w-30:30%;
$w-60:60%;

//fonts
$mainFont:'Roboto', sans-serif;