//imports
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');
@import "_vars";
@import "_compartidos";
@import "_index";
@import "_tienda";
@import "_turnos";
@import "_servicios";
@import "contacto";